### **Link:** https://platform.stratascratch.com/visualizations/10513-test-scores-comparison?code_type=2

# Test scores comparison

##### **Difficulty:** Medium

##### **ID:** ID 10513

##### **Type:** Bar Chart

##### **Analysis:** Comparison

##### **Data Type:** Numerical Data & Categorical Data

##### Use a bar chart to display the average test scores in different subjects across schools, with 'plum' for Mathematics, 'lightcoral' for Science, and 'khaki' for English.

## **Data:**

In [ ]:
import pandas as pd 

data = [
    {
        "mathematics": 70.906,
        "science": 93.443,
        "english": 65.614
    },
    {
        "mathematics": 79.107,
        "science": 73.496,
        "english": 94.803
    },
    {
        "mathematics": 92.487,
        "science": 85.927,
        "english": 78.944
    },
    {
        "mathematics": 79.199,
        "science": 74.73,
        "english": 92.036
    },
    {
        "mathematics": 75.711,
        "science": 98.286,
        "english": 80.819
    }
]

df = pd.DataFrame(data)

## **Solution:**

In [ ]:
import matplotlib.pyplot as plt
import plotly.express as px

colors = {'mathematics': 'plum', 'science': 'lightcoral', 'english': 'khaki'}
df.plot(kind='bar',stacked=False,color=[colors[col] for col in df.columns],figsize=(12,8))

plt.title('Average TEst Scores in Different Subjects Across Schools')
plt.xlabel('School')
plt.ylabel('Average Text Score')
plt.legend(title='Subject')
plt.grid(axis='y')
plt.xticks(rotation=45)
plt.show()